# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [1]:
firstList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
firstList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Append to the list the number 20

In [2]:
firstList.append(20)
firstList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [3]:
firstList[4:4] = [0,0]
firstList

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

4. Sort the list in reverse order

In [4]:
firstList.sort(reverse=True)
firstList

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [5]:
firstList[-2:] = []
firstList

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6. Invert the order of the list

In [6]:
firstList.reverse()
firstList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

7. How many items has the list?

In [7]:
len(firstList)

11

8. Give the minimum, maximum and the sum of all the items in the list

In [8]:
print ("Min value in list: %i" % min(firstList))
print ("Max value in list: %i" % max(firstList))
print ("Sum of values in list: %i" % sum(firstList))

Min value in list: 1
Max value in list: 20
Sum of values in list: 75

9. What will happen if you multiply the list by 2?

In [16]:
firstList*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

10. Can you divide the list by 3?

In [43]:
firstList/3

TypeError: unsupported operand type(s) for /: 'list' and 'int'

# Tupples
 
1. Create a tupple with three characters and four numbers

In [50]:
firstTuple = ('A', 'b', 'C', 1, 2, 3, 4)
firstTuple

('A', 'b', 'C', 1, 2, 3, 4)

2. Append two booleans (false, true) to the tupple

In [51]:
firstTuple = firstTuple + (False, True)
firstTuple

('A', 'b', 'C', 1, 2, 3, 4, False, True)

3. Retrieve the third to sixth items from the tupple

In [54]:
firstTuple[2:6]

('C', 1, 2, 3)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [59]:
charList = list(firstTuple[:3])
numList = list(firstTuple[3:7])
booleanList = list(firstTuple[7:9])

secondTuple = tuple(charList) + tuple(numList) + tuple(booleanList)
secondTuple

('A', 'b', 'C', 1, 2, 3, 4, False, True)

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [63]:
set(("Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object").split())

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.',
 'of',
 'original',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

In [68]:
import re

mystr = "Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
set(re.sub("[^\w]", " ",mystr).split())

{'A',
 'Shallow',
 'a',
 'an',
 'bit',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'of',
 'original',
 'that',
 'the',
 'values',
 'wise'}

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [69]:
EmployeeDict = {1020: ["Harry Smith","Sales Manager","030-223.65.44"],
               2201: ["Margaret Holsum", "Sales Representative", "030-223.64.12"],
               3320: ["Lasly Howard", "Human Resources", "030-223.83.33"],
               8111: ["Larry Johnson", "Project Manager", "030-224.22.00"],
               2733: ["Hellen Young", "Customer Service", "030-223.03.20"]}
EmployeeDict

{1020: ['Harry Smith', 'Sales Manager', '030-223.65.44'],
 2201: ['Margaret Holsum', 'Sales Representative', '030-223.64.12'],
 3320: ['Lasly Howard', 'Human Resources', '030-223.83.33'],
 8111: ['Larry Johnson', 'Project Manager', '030-224.22.00'],
 2733: ['Hellen Young', 'Customer Service', '030-223.03.20']}

1. Get all the keys of the dictionary

In [70]:
EmployeeDict.keys()

dict_keys([1020, 2201, 3320, 8111, 2733])

2. Get all the values of the dictionary

In [71]:
EmployeeDict.values()

dict_values([['Harry Smith', 'Sales Manager', '030-223.65.44'], ['Margaret Holsum', 'Sales Representative', '030-223.64.12'], ['Lasly Howard', 'Human Resources', '030-223.83.33'], ['Larry Johnson', 'Project Manager', '030-224.22.00'], ['Hellen Young', 'Customer Service', '030-223.03.20']])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [72]:
EmployeeDict[3320]

['Lasly Howard', 'Human Resources', '030-223.83.33']

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [73]:
for Number in range (1, 101):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [74]:
Number = 1

while(Number <= 100):
    count = 0
    i = 2
    
    while(i <= Number//2):
        if(Number % i == 0):
            count = count + 1
            break
        i = i + 1

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')
    Number = Number  + 1

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97